HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### User Uploads & Temp Files ###
src/main/webappuploads/
src/main/webapp/uploads/avatars/*
!src/main/webapp/uploads/avatars/.gitkeep
src/main/webapp/uploads/chats/*
!src/main/webapp/uploads/chats/.gitkeep

### Logs & OS Files ###
*.log
.DS_Store
Thumbs.db
desktop.ini

### STS ###
.apt_generated
.apt_generated_tests
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
